.wrapper{
	width: 80%;
	border: 1px solid black;
	margin: 0 auto 0 auto;
}

.heading{
	height: 100px;
	background: -webkit-linear-gradient(rgba(39,9,236,0.66) 0%, #ffffff 100%);
	padding: 20px;
	text-align: center;
}

.content{
	min-height: 400px;
	background: #c5c5d1;
	width: 75%;
	float: left;
}

.sidebar{
	width: 200px;
	float: right;
	min-height: 400 px;
}